<!DOCTYPE html>
	<head>
		<meta charset=utf-8 />
		<title>Ich nehme diese Datei nicht an.</title>
		<style>
			body {margin-left:5%}
		</style>
	</head>
	<body>
		<h2>Ich nehme diese Datei nicht an!</h2>
		<p><img src="/static/images/rr_disgust.jpg" width=500px></p>
		<p>Leider ist die Dateiendung verboten. Nur *.mid oder *.midi ist erlaubt.</p>
		<p><a href="/">Nochmal versuchen?</a> | <a href="/uploads"> Oder zu den bereits hochgeladenen Dateien gehen?</a></p>
	</body>
</html>
