<!DOCTYPE html>
	<head>
		<meta charset=utf-8 />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
		<title>Playing {{file}}</title>
		<style>
			body {margin-left:5%}
		</style>
	</head>
	<body>
		<p><img src="/static/images/floppy_orchester.png" height="200px"></p>
		<p><a href="/">Datei hochladen</a> | 
		<a href="/uploads">Hochgeladene Dateien ansehen</a></p>
		<h2>X(</h2>
		<p>Leider ist etwas schief gelaufen.
		<a href="/play/{{file}}">Nochmal versuchen?</a></p>
	</body>
</html>

