<!DOCTYPE html>
	<head>
		<meta charset=utf-8 />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
		<title>Floppy Orchester</title>
		<style>
			body {margin-left:5%}
		</style>
	</head>
	<body>
		<p><img src="/static/images/floppy_orchester.png" height="200px"></p>
		<p><a href="/uploads">Hochgeladene Dateien ansehen</a></p>
		<p><form action="/" method="post" enctype="multipart/form-data">
			<input type="file" name="upload" />
			<input type="submit" value="Datei hochladen & abspielen" />
		</form></p>
		
	</body>
</html>

